.start-menu-modal {
    border-radius: 5px 5px 0 0;
    background-color: #6487dc;
}

.start-menu-modal-header {
    background: linear-gradient(rgb(24, 104, 206) 0%, rgb(14, 96, 203) 12%, rgb(14, 96, 203) 20%, rgb(17, 100, 207) 32%, rgb(22, 103, 207) 33%, rgb(27, 108, 211) 47%, rgb(30, 112, 217) 54%, rgb(36, 118, 220) 60%, rgb(41, 122, 224) 65%, rgb(52, 130, 227) 77%, rgb(55, 134, 229) 79%, rgb(66, 142, 233) 90%, rgb(71, 145, 235) 100%);
}

.start-menu-modal-profile-shadow {
    box-shadow: -1px 3px 3px #00000040;
}
.start-menu-modal-text-shadow {
    text-shadow: rgba(0, 0, 0, .7) 1px 1px;
}

.start-menu-modal-footer {
    background: linear-gradient(rgb(66, 130, 214) 0%, rgb(59, 133, 224) 3%, rgb(65, 138, 227) 5%, rgb(65, 138, 227) 17%, rgb(60, 135, 226) 21%, rgb(55, 134, 228) 26%, rgb(52, 130, 227) 29%, rgb(46, 126, 225) 39%, rgb(35, 116, 223) 49%, rgb(32, 114, 219) 57%, rgb(25, 110, 219) 62%, rgb(23, 107, 216) 72%, rgb(20, 104, 213) 75%, rgb(17, 101, 210) 83%, rgb(15, 97, 203) 88%);
}

.start-menu-modal-footer a:hover {
    background-color: rgba(60, 80, 210, 0.5);
}

.start-menu-modal-divider {
    border: 0px;
    height: 2px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(218, 136, 74) 50%, rgba(0, 0, 0, 0) 100%);
}

.start-menu-modal-right-container {
    background-color: #d3e5fb;
    border-left: 1px solid rgba(58, 58, 255, .37);
}


.start-menu-modal-component:hover {
    background: #2d71cd;
    color: white;
}