html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex; /* This will make the body a flex container */
  flex-direction: column; /* Stack children vertically */
  overflow: hidden; /* Prevent scrolling */
}

#root {
  flex: 1; /* This makes the root div take up all available space */
  display: flex;
  flex-direction: column;
}

